/* Base Styles */
body {
  background-color: #ffffff;
  font-family: "Comic Sans MS";
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
  overflow-y: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* Top Menu */
#topMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 4px solid #ddd; /* Light mode border */
  transition: background-color 0.3s, border-bottom-color 0.3s;
}

#mainMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#pndf-logo {
  height: 100px;
}

#logo {
  height: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.dropdown,
.profile-dropdown {
  position: relative;
  margin-left: 20px;
}

.dropbtn,
.filebtn {
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100%; /* Fill navbar height */
  transition: background-color 0.3s, color 0.3s;
}

.profile-icon {
  height: 60px; /* Enlarged icon */
  width: 60px; /* Enlarged icon */
  margin-left: 10px; /* Space between text and icon */
}

.dropdown-content,
.profile-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4f4f4; /* Light mode dropdown */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 100%;
  min-width: 150px;
  transition: background-color 0.3s;
}

.dropdown-content a,
.profile-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.profile-dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #ddd;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

#topMenu.dark-mode {
  background-color: #333333;
  border-bottom-color: #444444; /* Dark mode border */
}

.dropbtn.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.profile-icon.dark-mode {
  height: 60px;
  width: 60px;
}

.dropdown-content.dark-mode,
.profile-dropdown-content.dark-mode {
  background-color: #333333;
}

.dropdown-content a.dark-mode,
.profile-dropdown-content a.dark-mode {
  color: #ffffff;
}

.dropdown-content a.dark-mode:hover,
.profile-dropdown-content a.dark-mode:hover {
  background-color: #555555;
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 20px; /* Space between switch and other items */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Navigation Styles */
#navigate {
  color: #253237;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%; /* Ensure it takes the full width */
  transition: top 0.3s;
}

#navigate.fixed {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f4f4f4; /* Optional: Add a background color for better visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

#navigate button {
  font-size: 20px;
  font-family: "Comic Sans MS";
  padding: 5px 15px;
  margin: 10px;
  border-radius: 10px;
  border-color: transparent;
  background-color: #f4f4f4; /* Light mode button */
  color: #333; /* Light mode text color */
  transition: background-color 0.3s, color 0.3s;
}

#navigate button:hover {
  background-color: #ddd;
}

/* Dark Mode Navigation Styles */
body.dark-mode #navigate {
  color: #ffffff;
}

body.dark-mode #navigate.fixed {
  background-color: #333333; /* Background color for dark mode */
}

body.dark-mode #navigate button {
  background-color: #555555; /* Dark mode button */
  color: #ffffff; /* Dark mode text color */
}

body.dark-mode #navigate button:hover {
  background-color: #444444;
}

/* Other Styles */
#mainContent {
  /* display: flex; */
  display: none;
  flex-direction: row;
}

#pdf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#speedread {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

#speedread:hover {
  background-color: #0056b3;
}

#grayOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black */
  z-index: 1000; /* ensure it's above other content */
}

#textBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(66vh + 40px);
  z-index: 1001; /* Ensure it's above other content including sideMenu */
}

#textMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#textMenu label {
  margin-right: 10px;
}

#textMenu select,
#textMenu input[type="number"] {
  padding: 5px;
  font-size: 14px;
}

#speedreadTextContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#speedreadText {
  text-align: center;
  line-height: 1.6;
  overflow: auto; /* allow scrolling if content overflows */
  font-size: 36px;
  font-family: Arial, sans-serif;
}

body.speedread-active {
  overflow: hidden;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; /* Optional: add a border for better visibility */
  overflow: auto;
  height: 600px;
}

#speedreadText {
  max-height: 400px; /* or any height you prefer */
  overflow-y: auto;
  padding: 10px;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../Resources/Fonts/OpenDyslexic-Regular.otf") format("opentype");
}

/* Welcome */

.welcome-message {
  padding: 100px;
}

.container-view-pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-view-pdf label {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 38px;
}

.text-large-bold {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 42px;
}

.text-ssp label {
  font-family: "Source Sans Pro";
  font-weight: lighter;
  font-size: 24px;
}

.upload-container {
  display: flex;
  justify-content: center;
  width: 700px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  position: relative;
}

.upload-container p {
  font-family: "Source Sans Pro";
}

.panda-upload {
  position: absolute;
  width: 200px;
  bottom: -50px;
  left: -100px;
}

.upload-box {
  text-align: center;
  padding: 20px;
}

.choose-file-button {
  background-color: #4caf50;
  color: white;
  padding: 15px 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.choose-file-button:hover {
  background-color: #45a049;
}

.upload-box p {
  margin: 5px 0;
}
