/* Light Mode Styles */
#headerMydocs {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
}

#headerTxt {
  font-size: 30px;
}

.fileUpload {
  background-color: #4caf50;
  color: white;
  padding: 15px 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.fileUpload:hover {
  background-color: #45a049;
}

#documentList {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}

.document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.document-item:hover {
  background-color: #f1f1f1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.document-item span {
  font-size: 18px;
}

.document-item button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.document-item button:hover {
  background-color: #0056b3;
}

.no-documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  user-select: none;
}

.no-documents img {
  width: 20vw; /* Adjust as needed */
  margin: 40px;
  border-radius: 40px;
}

.no-documents p {
  font-size: 30px; /* Adjust as needed */
  color: #000000; /* Adjust as needed */
}

/* Dark Mode Styles */
body.dark-mode #headerMydocs {
  color: white;
}

body.dark-mode #headerTxt {
  color: white;
}

body.dark-mode .fileUpload {
  background-color: #388e3c;
  color: white;
}

body.dark-mode .fileUpload:hover {
  background-color: #2e7d32;
}

body.dark-mode #documentList {
  color: white;
}

body.dark-mode .document-item {
  background-color: #1a1a1a;
  border: 1px solid #666;
}

body.dark-mode .document-item:hover {
  background-color: #333;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .document-item span {
  color: white;
}

body.dark-mode .document-item button {
  background-color: transparent;
}

body.dark-mode .document-item button:hover {
  background-color: #555;
}

body.dark-mode .no-documents p {
  color: #ffffff; /* Adjust as needed */
}