/* Light Mode Styles */
#headerMydocs {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
}

#headerTxt {
  font-size: 30px;
  font-weight: bold;
}

.fileUpload {
  background-color: #4caf50;
  color: white;
  padding: 15px 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: ease-in-out 0.3s, box-shadow 0.3s;
}

.fileUpload:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#documentList {
  padding: 20px;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
}

.document-item {
  display: flex;
  width: 275px;
  height: 350px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: ease-in-out 0.3s, box-shadow 0.3s;
  position: relative;
  overflow-wrap: anywhere;
}

.document-item:hover {
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.document-item span {
  font-size: 18px;
}

.document-item button {
  background-color: transparent;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
}

.document-item button:hover {
  background-color: #0000000f;
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
}

.doc-canvas {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  border: solid 1.5px;
  border-color: #777;
}

button.delete-button {
  position: absolute; /* Absolute positioning */
  bottom: 20px; /* Adjust as needed to position correctly */
  right: 20px; /* Adjust as needed to position correctly */
  background-color: #cd3e3e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

button.delete-button:hover {
  background-color: #8b0000;
  box-shadow: inset 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
}

.no-documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  user-select: none;
}

.no-documents img {
  width: 20vw; /* Adjust as needed */
  margin: 40px;
  border-radius: 40px;
}

.no-documents p {
  font-size: 30px; /* Adjust as needed */
  color: #000000; /* Adjust as needed */
}

/* Dark Mode Styles */
body.dark-mode #headerMydocs {
  color: white;
}

body.dark-mode #headerTxt {
  color: white;
}

body.dark-mode .fileUpload {
  background-color: #388e3c;
  color: white;
}

body.dark-mode .fileUpload:hover {
  background-color: #2e7d32;
}

body.dark-mode #documentList {
  color: white;
}

body.dark-mode .document-item {
  background-color: #1a1a1a;
  border: 1px solid #666;
}

body.dark-mode .document-item:hover {
  background-color: #222121;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .document-item span {
  color: white;
}

body.dark-mode .document-item button {
  color: white;
  background-color: #9b0000;
  transition: ease-in-out 0.3s, color 0.3s;
}

body.dark-mode .document-item button:hover {
  background-color: #7d0101;
  transform: scale(1.1);
}

body.dark-mode .no-documents p {
  color: #ffffff; /* Adjust as needed */
}

/* Popup Box Styles */
.popup-box {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#popupMessage {
  font-size: 24px;
}

.popup-image {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.popup-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #0056b3;
}

/* Animation for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}