body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #9db4c0;
  font-family: 'Comic Sans MS';
}
#brand-title img{
  height: auto;
  width: min-content;
}
#header-text {
  font-size: 42px;
}

#body-text {
  font-size: 24px;
}

.header-register,
.header-login {
    margin: 15px;
}

#form-regis-container,
#form-login-container {
  background: #e0f7fa;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 500px;
  text-align: center;
}

#form-regis,
#form-login {
  padding: 25px;
}

#form-regis input[type="text"],
#form-regis input[type="email"],
#form-regis input[type="password"],
#form-login input[type="text"],
#form-login input[type="email"],
#form-login input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  margin: 15px;

  font-family: 'Comic Sans MS';

  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

#form-regis input[type="submit"],
#form-login input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 15px;
  background-color: #5c6b73;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Comic Sans MS';
}

p {
  text-align: center;
}

#panda {
    position: absolute;
    bottom: -80px;
    left: -195px;
    width: 310px;
    height: auto;
    transform: scaleX(-1);
}

#panda-login {
  position: absolute;
  bottom: -80px;
  right: -100px;
  width: 200px;
  height: auto;
}