body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Comic Sans MS";
}

.container {
  min-height: 100vh;
  min-width: -webkit-fill-available;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#topMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 4px solid #ddd;
}

#mainMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#pndf-logo {
  height: 100px;
}

#logo {
  height: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  margin-left: 20px;
}

.dropbtn {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.profile-icon {
  height: 60px; /* Enlarge the icon */
  width: 60px; /* Enlarge the icon */
  margin-left: 10px; /* Add space between text and icon */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 100%;
  min-width: 150px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #ddd;
}

#brand-title img {
  height: auto;
  width: 350px;
}
#header-text {
  font-size: 42px;
}

#body-text {
  font-size: 24px;
}

.header-register,
.header-login {
  margin: 15px;
}

#form-regis-container,
#form-login-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 500px;
  text-align: center;
}

#form-regis,
#form-login {
  padding: 25px;
}

#form-regis input[type="text"],
#form-regis input[type="email"],
#form-regis input[type="password"],
#form-login input[type="text"],
#form-login input[type="email"],
#form-login input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  margin: 15px;

  font-family: "Comic Sans MS";

  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

#form-regis input[type="submit"],
#form-login input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 15px;
  background-color: #66b538;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  font-family: "Comic Sans MS";
}

p {
  text-align: center;
}

#panda {
  position: absolute;
  bottom: -80px;
  left: -195px;
  width: 310px;
  height: auto;
  transform: scaleX(-1);
}

#panda-login {
  position: absolute;
  bottom: -80px;
  right: -100px;
  width: 200px;
  height: auto;
}

.welcome-message {
  padding: 100px;
}

.container-view-pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-view-pdf label {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 38px;
}

.text-large-bold {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 42px;
}

.text-ssp label {
  font-family: "Source Sans Pro";
  font-weight: lighter;
  font-size: 24px;
}

.upload-container {
  display: flex;
  justify-content: center;
  width: 700px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  position: relative;
}

.upload-container p {
  font-family: "Source Sans Pro";
}

.panda-upload {
  position: absolute;
  width: 200px;
  bottom: -50px;
  left: -100px;
}

.upload-box {
  text-align: center;
  padding: 20px;
}

.choose-file-button {
  background-color: #4caf50;
  color: white;
  padding: 15px 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.choose-file-button:hover {
  background-color: #45a049;
}

.upload-box p {
  margin: 5px 0;
}
